{% extends "../../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<h1>Error (500)</h1>
		<p class="lead">Xin lỗi, có lỗi xuất hiện trong quá trình xử lý yêu cầu.</p>
	</div>
{% endblock %}
