{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<h1>Giới thiệu về Động Vật Việt Nam</h1>
		<p>Việt Nam là một quốc gia có vị trí địa lý đặc biệt, có địa hình phức tạp . Cho nên, hệ sinh thái của VN rất đa dạng, phong phú. Tuy nhiên, nhìn chung hiện nay việc nhận biết các loài động vật hoang dã đối với chúng ta còn chưa thực sự tốt. Thường chúng ta hay không hiểu rõ để né tránh tác hại ( ví dụ rắn độc hay không độc ) hoặc phát huy giá trị bảo tồn (có được khuyến khích nuôi nhốt hay không, có giá trị kinh tế hay không ) và trách nhiệm pháp luật đối với một loài động vật cụ thể. Bằng trang web này, với sự cố gắng của chúng tôi, đã mang lại cơ sở dữ liệu của 258 loài thú, 940 loài chim, 450 loài bò sát và lưỡng cư đã được ghi nhận ở Việt Nam.</p>
	</div>
{% endblock %}
